.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 10px solid #184356;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  flex: 1; /* take available vertical space */
  display: flex;
  justify-content: center;
  align-items: center; /* centers the image */
  overflow: hidden;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* keeps image proportions */
  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;
  z-index: 1;
}

.card:hover img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60vw;
  height: 60vh;
  transform: translate(-50%, -50%) scale(1);
  z-index: 9999;
  background: #000;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.5);
}
.card:hover .overlay {
  opacity: 0;
}
.card:hover::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9998;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  background-color: #6596ec;
  color: white;
  padding: 8px 14px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.links a:hover {
  background-color: #c20808;
}
