/* src/components/Projects.module.css */

.projectsSection {
  padding: 4rem 2rem;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

:global(body.dark-mode) .projectsSection {
  background-color: #1f260d;
  color: #eee;
}

.projectsSection h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: rgb(67, 65, 165);
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Tablet */
@media (max-width: 1024px) {
  .projectsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .projectsGrid {
    grid-template-columns: 1fr;
  }
}
