.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  padding: 1rem;
}

.modalContent {
  background: rgba(0, 0, 0, 0.96);
  padding: 2rem;
  border-radius: 16px;
  max-width: 450px;
  max-height: 80vh;
  overflow-y: auto;
  width: 90%;
  text-align: center;

  backdrop-filter: blur(10px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.12);

  transition: all 0.3s ease;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.2s;
  color: rgb(11, 1, 40);
}

.closeBtn:hover {
  transform: scale(1.2);
}

.skillsList {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.skillsList li {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  font-weight: 600;
  color: #fff;
}

/* Dark mode */
:global(body.dark-mode) .modalContent {
  background: linear-gradient(135deg, #1f260d 0%, #333c12 50%, #556032 100%);
  color: #eee;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

:global(body.dark-mode) .skillsList li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.group:hover {
  box-shadow: 0 0 30px rgba(154, 224, 13, 0.5);
}
